* {
  box-sizing: border-box;
}

body {
  font-family: 'impact', sans-serif;
  background-color: rgb(240, 236, 237);
  display: flex;
  width: 100%;
  align-items: stretch;
}

a{
  color:  rgba(255, 255, 255, 0.952);
  text-decoration: none;
  padding: 8px;
  font-size: 0.9em;
  text-transform: uppercase;
  display: block;
}
a:hover{
  background-color: grey;
}

a[data-toggle='collapse'] {
  position: relative;
}

svg {
  margin-right: 7px;
  color: rgba(255, 255, 255, 0.952);
}

p {
  font-family: 'arial', Courier;
  font-size: 1.1em;
  font-weight: 270;
  line-height: 1.7em;
  color: #999;
}


ol {
  padding: 5px;
  display: block;
  text-transform: uppercase;
  padding-left: 0.1rem;
}

li {
  list-style: none;
  border-bottom: 0px solid rgb(255, 255, 255);
   margin-right: 7px;
}

.menu-ul{
  padding: 6px;
  display: block;
  text-transform: uppercase;
  padding-left: 0.2rem;
}

.menu-li{
  list-style: none;
  border-bottom: 2px solid rgb(255, 255, 255);
}


.menulist {
  width: 260px;
  min-height: 110vh;
  background: #3f64d3;
  transition: all 0.5s;
  position: fixed;
  top: 0;
}

.menulist.active  {
  margin-left: -215px;
}

.menulist.active .menu-ul,
.menulist.active .menulist-header {
  margin-left: -215px;
  opacity: 0;
}


.menulist-header {
  padding: 8px;
  color: #ebebeb;
  background: transparent;
  border-bottom: 2px solid rgb(255, 255, 255);
}




.menu-close-button {
  background-color:rgb(156, 151, 151);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 4.5px;
  outline: none;
  border:none;
  color: #fff;
}

.menulist.active .menu-close {
  justify-content: flex-end;
}

.menu-close {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;

}

.btn-group button {
  height: auto !important;
  width: 50px;
  margin: 0 8px 0 6px;
  background-color: #3f64d3;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.input-group div > label {
  margin: 0 0 0 0.6em;
}

.container-main {
  min-height: 44vh;
}

.content {
  color: #777672;
  position: relative;
  padding-bottom: 152px;
  margin-left: 251px;
  min-height: 99vh;
}

.container-card-left {
  border-bottom-right-radius: 1;
  border-top-right-radius: 1;
}

.container-card-right {
  border-bottom-left-radius: 1;
  border-top-left-radius: 1;
}

.card-header {
  font-size: 14px;
}
.card-body{
  font-size: 12px;
  font-weight: 400;
  font-size: 0.9em;
}

.card-title{
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase
}

 
.col-3 .card  {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
  span {
  font-weight: 585;
}

.title-label ,.list-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.title-label .title-top,
.list-label .list-top {
  width: 53%;
}

.title-label .title-bottom-first,
.list-label .list-bottom-first {
  width: 58%;
}

.title-label .title-bottom-second,
.list-label .list-bottom-second {
  width: 43%;
}

.list-label ol {
  margin: 0;
  padding: 0.rem 1.32rem;
}

.list-label ol:nth-child(2) {
  border-left: 1px solid rgba(63, 62, 62, 0.849);
}

.container-statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-statistic svg {
  color: #918e8e;
}

.list-data ul {
  margin-bottom: 1;
}


.datacard-title-blue {
  color: #3f64d3;
  font-size: 2.0ex;
}

.datacard-title-red {
  color:#b32d2d;
  font-size: 2.0ex;
}

 .datacard-title-orange {
  color: #ca7300;
  font-size: 2.0ex;
}

.datacard-title-green {
  color: #4cac4a;
  font-size: 2.0ex;
}


.datacard-blue {
  padding-left: 10;
  border-left: 3px solid #3f64d3;
}

.datacard-green {
  padding-right: 10;
  border-left: 3px solid #4cac4a;
}
.datacard-red {
  padding-left: 10;
  border-left: 3px solid #b32d2d;
}

.datacard-orange{
  padding-left: 10;
  border-left: 3px solid #ca7300;
}

footer {
  position: absolute;
  bottom:  0;
  right: 0;
  width: 100%;
  height: 95px;
  margin: 0 auto;
  text-align: center;
  font-weight: 650;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  background-color:  rgb(224, 216, 218);
  min-height: 10vh;
  min-width: 10vh;
}